.DS_Store
Desktop.ini
.ipynb_checkpoints
*/.ipyb_checkpoints/*n

# Model Outputs
posteriors/
models/

# Intermediate data prep files
metadata.tsv.gz
open_metadata.tsv
open_metadata_pruned.tsv
gisaid_metadata.tsv
gisaid_metadata_pruned.tsv
gisaid_metadata_filtered.tsv
sfs_counts.csv

# Protect environment variables
environment*

# LaTeX Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Keep final manuscript PDF and cover letter PDF from being versioned
rt-from-frequency-dynamics.pdf
cover-letter.pdf

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

src/rt_from_frequency_dynamics/__pycache__
