.DS_Store
Desktop.ini
.ipynb_checkpoints
*/.ipyb_checkpoints/*n

# Model Outputs
/data/sims/

# Intermediate data prep files
data/metadata.tsv.gz
data/open_metadata.tsv
data/open_metadata_pruned.tsv
data/gisaid_metadata.tsv
data/gisaid_metadata_pruned.tsv

# Protect environment variables
environment*

# LaTeX Files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

# Keep final manuscript PDF from being versioned
rt-from-frequency-dynamics.pdf

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

src/rt_from_frequency_dynamics/__pycache__
